:root {
  --main-color: #aed7f4;
  --secondary-color: rgb(116, 141, 166);
  --light-pink-color: rgb(242, 215, 217);
  --light-gray-main-color: rgb(156, 180, 204);
  --for-h-color: rgb(82, 99, 117);
  --box-shadow: 5px 5px 10px rgba(91, 94, 94, 0.573);
}
@media (max-width: 576px) {
  .container {
    text-align: center;
  }

  .cont img {
    display: none;
  }
  h3 p {
    font-size: 22px;
  }
  contact-page #contact {
    font-size: 22px;
  }
  .contact-page a {
    font-size: 22px;
  }
  .about-page h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .about-page h2 {
    font-size: 18px;
    font-weight: bold;
  }
}
.container {
  text-align: center;
  font-family: "Mulish", sans-serif;
}
.container-absolute {
  padding-top: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
body {
  color: var(--for-h-color);
  width: 100%;
  height: auto;
}

.about-me {
  padding-top: 50px;
}

.home-page a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.home-page a:hover {
  color: rgb(136, 108, 228);
}
h1 {
  font-size: 37px;
  margin-bottom: 10px;
  padding-top: 10px;
}
h2,
.invite {
  font-size: 40px;
  margin: 31px 0px 10px 0px;
  color: rgb(56, 56, 66);
  white-space: pre-wrap;
}
h3,
.iam {
  font-size: 31px;
  margin: 20px;
  display: inline;
}
.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 15px;
}
.pages span a {
  text-decoration: none;
  text-align: center;
  color: var(--for-h-color);
  font-weight: bolder;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background-color: var(--main-color);
  white-space: pre;
  transition: 0.2s ease;
}
.pages span a:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: white;
}

.h1-contact {
  text-align: center;
  font-family: "Mulish", sans-serif;
}
.h2-contact {
  text-align: center;
  font-size: 21px;
  font-family: "Mulish", sans-serif;
}
.back-home-page a {
  text-decoration: none;
  font-size: 25px;
  color: var(--for-h-color);
  text-align: center;
}
.back-home-page a:hover {
  color: var(--for-h-color);
  text-decoration: underline;
}
.logo {
  margin: auto;
  position: relative;
  top: -3px;
}
.my-works {
  padding-top: 30px;
}
.description-proj {
  font-size: 22px;
}
.creted-with {
  font-family: monospace;
  font-size: 14px;
}
.contact-page {
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  width: 500px;
  border-radius: 20px;
  background-color: rgb(255, 250, 250, 0.4);
}
.contact-page a {
  text-decoration: none;
  color: var(--for-h-color);
}
.contact-page a:hover {
  color: #58b1af;
}
.blue-button {
  --bs-btn-color: var(--for-h-color);
  --bs-btn-bg: var(--main-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--secondary-color);
}
footer {
  margin: 30px 0;
}
footer .email-link {
  text-decoration: none;
  color: rgb(56, 56, 66);
  font-size: 18px;
  transition: 0.2s ease;
}
.email-link:hover {
  color: #58b1af;
}
footer .social-media-links a {
  margin: 0 20px;
  color: var(--for-h-color);
  font-size: 26px;
  transition: 0.2s ease;
}

footer .social-media-links a:hover {
  color: #58b1af;
}
