:root {
  --main-color: #aed7f4;
  --secondary-color: rgb(116, 141, 166);
  --light-pink-color: rgb(242, 215, 217);
  --light-gray-main-color: rgb(156, 180, 204);
  --for-h-color: rgb(82, 99, 117);
  --box-shadow: 5px 5px 10px rgba(91, 94, 94, 0.573);
}
@media (max-width: 576px) {
  .container {
    text-align: center;
  }
  /* .card img {
    display: none;
  } */
  .cont img {
    display: none;
  }
  h3 p {
    font-size: 22px;
  }
  .contact-me #contact {
    font-size: 22px;
  }
  .contact-me a {
    font-size: 22px;
  }
}
.container {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
body {
  color: var(--for-h-color);
  width: 100%;
  height: auto;
}
.hero {
  padding: 30px 0;
}
.about-me {
  padding-top: 50px;
}
.invite {
  font-size: 50px;
}
.iam {
  font-size: 24px;
}
.home-page a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.home-page a:hover {
  color: rgb(136, 108, 228);
}
h1 {
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 10px;
}
h2 {
  font-size: 45px;
  margin: 10px 0px 10px 0px;
  color: rgb(56, 56, 66);
  white-space: pre-wrap;
}
h3 {
  font-size: 21px;
  margin: 20px;
  line-height: 0px;
  display: inline;
}
.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 30px;
}
.pages span a {
  text-decoration: none;
  text-align: center;
  color: var(--for-h-color);
  font-weight: bolder;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background-color: var(--main-color);
  white-space: pre;
  transition: 0.2s ease;
}
.pages span a:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: white;
}

.h1-contact {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.h2-contact {
  text-align: center;
  font-size: 21px;
  font-family: "Raleway", sans-serif;
}
.back-home-page a {
  text-decoration: none;
  font-size: 25px;
  color: var(--for-h-color);
  text-align: center;
}
.back-home-page a:hover {
  color: var(--for-h-color);
  text-decoration: underline;
}
.logo {
  margin: auto;
  position: relative;
  top: -3px;
}
.my-works {
  padding-top: 30px;
}
.contact-me {
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  text-decoration: none;
}
.contact-me a {
  text-decoration: none;
  color: var(--for-h-color);
}
.contact-me a:hover {
  color: rgb(136, 108, 228);
}
.blue-button {
  --bs-btn-color: var(--for-h-color);
  --bs-btn-bg: var(--main-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--secondary-color);
}
